*{
    box-sizing: border-box;
}
body {
    font-family: Arial;
    margin: 0;
  }
.header{
    padding: 60px;
    background-color: #00b894;
    text-align: center;
    color: #ffffff;
}
.nav{
    background-color: #333;
    height: auto;
}

.navbar{
    display: flex;
    justify-content: end;
}
.navbar a{
    padding: 14px 20px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.toogle{
    display:flex;
    justify-content: end;
    width: 40px;
    height: 40px;
    display: none;
    cursor: pointer;
}
.toogle span{
    background-color: #333;
    border: 1px solid #f1f1f1;
    display: block;
    margin-top: 10px;
    height: 5px;
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.side{
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}
.main{
    flex: 70%;
    background-color: white;
    padding: 20px;
}
.fakeimg{
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
.footer{
    background-color: #aaa;
    padding: 20px;
    text-align: center;
}
 @media (max-width:700px) {
    .row{
        flex-direction: column;
    }
    .navbar{
        display: none;
    }
    .nav{
        position: sticky;
        top: 0;
    }
    .toogle{
        display: block;
        position: absolute;
        right: 3px;
        top: 3px;
    }
    .active{
        display: flex;
        flex-direction: column;
    }

}